.App {
  font-family: Arial, sans-serif;
}

.hero {
  background: #f8f9fa;
  padding-top: 60px; /* Adjust to make sure content doesn't get hidden behind the fixed navbar */
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.125rem;
}

.features .feature {
  padding: 2rem;
}

.pricing .price {
  background: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
}

.bg-purple {
  background-color: #603268;
}

.text-yellow {
  color: #ECB213;
}

.form-container {
  max-width: 600px; /* Set the maximum width */
  margin: 0 auto; /* Center the form */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}